* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  /*border:1px solid grey;*/
}

#logo {
    filter: invert(1);
   } 
#home{
line-height: 50px; 
background-color: #85d4b7;
 filter: drop-shadow(0 0 5px #333);
   }
nav{
    position: relative;
}
#home nav img{
  position: relative;
    
left:10%;
    top:10px;
    transition: 2s all ease-in-out;
}
   

/* General Style */
body {
    line-height: 2;
    font-family: 'Nunito', sans-serif;
    background-color:#6dccaa;
    
}

a {
    text-decoration: none;
    color: #fff;
}


/* Header Section Styles*/

header {
    box-shadow: ;
}

.center {
    display: flex;
  
    align-items: center;
    padding: 1%;
  
}

header .center {
    max-width: 80%;
}

.link {
    width: 60%;
    min-width: 60%;
    display: flex;
justify-content: space-around;
    text-align: center;
    float: right;
    padding-right: 2%;
transition: 2s all ease-in-out;
}

.link a {

    text-shadow: 1px 1px darkgray;
    font-size: 1rem;

}
.link a:hover {
    color: black;
}


.social {
    margin-right: 3%;
    float: right;
      width: 53%;
    min-width: 14%;
   text-align: right;
    
}

.social a {
     text-align: right;
 transition: color 200ms ease-in-out;
    font-size: 2rem;
    padding-left: 10%;

}

.social a:hover {
    color: black;
}


.leftNav {
    margin-left: 3%;
    color: white;
    width: 50%;
}
.clear{
    clear: both;
}

.middleHeader {
    
    width: 100%;
   
   text-align: center;
}

.middleHeader img {
    width:50%;
margin-top:4%;
    text-align:  center;

}
.footer{
    position: absolute;
    bottom:0px;
}
@media only screen and (max-width: 900px) {
    .middleHeader img{
            width: 61%;
    }
}
@media only screen and (max-width: 500px) {
    .link{
           float: none;
        margin: 0 auto;
    }
  #home nav img{
        left:40%;
    }
}

